@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,600&display=swap');

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  background-color: seashell;
  font-family: 'Josefin Sans', sans-serif;
}
.center_div{
  min-height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_div{
   min-width:300px;
   min-height:600px;
   border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(63,63,68,.15), 0 0 0 1px rgba(63,63,68,.05);
}
.search-input{
  min-width:60%;
  font-size:22px;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 3px 3px 0 rgba(63,63,68,.15), 0 0 0 1px rgba(63,63,68,.05);
  outline-color: #fff;
}

.user-img img{
  width:250px;
  height:250px;
  border-radius: 50%;
  box-shadow: seashell;
}
.user-name p{
  font-size:36px;
  font-weight: 700;
}

.user-account a{
 text-decoration: none;
 color:black;
 word-break:break-all;

}

.res_div h6{
font-size:24px;
}

.res_div p{
  font-size:24px;
  }


.user-img img:hover{
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
  /* Media query */

  @media only screen and (max-width: 900px) {

    .main_div{
      margin-left:10px;
      margin-right:10px;
    }
    .res_div h6{
      font-size:16px;

    }
    .res_div p,a{
      font-size: 16px;
    }
    .search-input{
      font-size: 16px;
    }
  }